*{
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.link:hover {
    text-decoration: none;
    color: rgb(241, 238, 238);
    
}

li {
    display: inline-block;
}